
.news-container {
    height: 175px;
    width: 234px;
    text-align: center;
    margin: 10px 1px 20px;
    border: 1px solid var(--base-border);
    border-radius: 0px 0px 4px 4px;
  }
  .news-container-img {
    margin: 0 auto;
    width: 234px;
    height: 120px;
    object-fit: cover;
  }
  .news-container > p {
    margin: 10px ;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  }
  .news-container.active {
    background: var(--base-blue);
    color: var(--base-white);
  }
  
  .active{
    background: var(--base-blue);
  }