.news-content {
  width: 974px;
  margin: 30px auto;
  overflow: hidden;
  position: relative;
}


.contant-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.content-secont_text {
  width: 100%;
  padding: 30px;
  background: #0b6db4;
  opacity: 0.8;
  color: white;
  margin-top: -161px;
  font-weight: 500;
font-size: 32px;
line-height: 48px;
}
.content-img{
  height: 370px;
  width: 974px;
  position: relative;
  object-fit: cover;
}
.news-content > img{
  transition: 1s; 
    display: block;
    height: 370px;
}
.news-content > img:hover{
  transform: scale(1.06);
  }