.layout {
  display: flex;
  height: 100vh;
  margin: 0 auto;
}
.block-container{
  width: 100%;
  margin: 0 0 0 130px;
  
}
.content-margin{
  margin: 0 20px 0 20px;
}

.content-flex{
  display: flex;
  justify-content: space-between;
}

.latest-news{
  font-weight: normal;
  margin-bottom: 5px;
}